@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(../public/fonts/Lausanne-500.woff2);
}

body{
overflow-x: hidden;

}

.movexflex {
  animation: moveAnimation 8s linear infinite;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

 .movelink{
opacity: 0;

} 

.link:hover .movelink{
  opacity: 1;
}

